@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('@/assets/fonts/inter-v13-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* victor-mono-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Victor Mono';
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/victor-mono-v3-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  a {
    @apply
    text-grey-975 dark:text-white hover:text-grey-900 dark:hover:text-grey-100
      transition-all duration-300 ease-in-out;      
  }
  .router-link-exact-active {
    @apply border-b-2 border-grey-975 dark:border-white;
  }
}

/* Base: Forms */
/* @layer base {
  .form-group { @apply text-left mb-3 relative}
  .form-group .error { @apply text-sm}

  [type='text'],
  [type='email'],
  textarea,
  select {
    @apply
      rounded w-full outline-none
      my-0 pb-2 pt-7 px-3
      text-base leading-tight
      text-grey-900 dark:text-white
      bg-transparent dark:bg-transparent border
      border-grey-200 dark:border-grey-800
      group-hover:border-grey-975 dark:group-hover:border-white
      focus:ring-1 focus:ring-black dark:focus:ring-white
      focus:border-black dark:focus:border-white
      focus-visible:border-black focus-visible:ring-black
      transform transition-all duration-200 ease-in-out;
  }

  label {
    @apply
      absolute flex items-center -z-[1]
      px-3
      text-grey-500 dark:text-grey-500
      text-base group-focus-within:text-xs peer-valid:text-xs
      top-4 group-focus-within:top-5 peer-valid:top-5
      group-focus-within:-translate-y-full peer-valid:-translate-y-full
      transform transition-all duration-100 ease-linear;
  }
} */